    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for propertyx
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName propertyx.localhost
      DocumentRoot "/WWW/propertyx/web"
      DirectoryIndex index.php
      <Directory "/WWW/propertyx/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/WWW/propertyx/lib/vendor/symfony/data/web/sf"
      <Directory "/WWW/propertyx/lib/vendor/symfony/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
